/* Reset any default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #69197c;
    width: 100%;
    height: 80vh;      /* Takes up the full height of the viewport */
    background-size: cover; /* Ensures any background image covers the entire element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background-color: yellow;
    width: 50%; /* Adjust width as needed */
    height: 50%; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black; /* Optional: Adds a border around the box */
    border-radius: 20px; /* Adjust radius as needed */
}

footer {
    background-color: #2add5d;
    width: 100%;
    height: 10vh;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0050ff; /* Optional: Background color for the header */
}

.logo img {
    max-height: 60px; /* Adjust based on your logo size */
}

.nav-links a {
    margin-right: 60px; /* Space between links */
    text-decoration: none;
    color: #fc3232; /* Text color */
    font-size: 20px;
}

.nav-links a:hover {
    color: #f9aecd; /* Link hover color */
}
